// .sidebar{


@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}

.sidebar222 {
    width: 300px;
    height: 100%;
    // visibility:hidden;
    // background-color: black;
    margin-left: -100%;
    // transform: translateX(-100%);
    position: absolute;
    // border-right: 1px solid black;
    transition: all ease-in-out 1000ms;
    background-color: rgb(238, 235, 235);

    padding: 20px 30px 0 30px;


    @include media(570px) {
        width: 200px;
        position: absolute;
        // width: 200%;
    }

}

.sidebar22 {
    // visibility: visible;
    width: 300px;
    height: 100%;
    // background-color: black;
    // margin-left: -400px;
    position: absolute;
    // border: 1px solid black;
    // border-right: 1px solid black;
    background-color: rgb(238, 235, 235);
    padding: 20px 30px 0 30px;
    transition: all ease-in-out 1000ms;

    @include media(570px) {
        width: 200px !important;
        position: absolute;
        // width: 200%;
        // background: white;
    }
}

.fff {
    padding: 10px;
}

// button {
//     background-color: white;
//     width: 100%;
//     height: 50px;
//     border-radius: 15px;
//     border: none;
//     margin-top: 10px;
//     font-weight: 700;
// }

// button {
//     background-color: rgba(240, 240, 240, 1);

// }

// .buttoncha {
//     width: 150px;
//     background-color: green;
//     color: white;
// }

// }