@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}

.firstChild {
    display: flex;
    max-width: 1240px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    gap: 30px;
    margin-top: 150px;


    // min-height: 460px;
    // height: 100%;
    @include media(870px) {
        flex-direction: column;
    }

    @include media(450px) {
        margin-top: 80px;
        // height: 600px;
        // height: 100%;
    }

    .left-child {
        max-width: 600px;
        width: 100%;
        min-height: 460px;
        height: 100%;
        font-family: "Montserrat", sans-serif;

        @include media(450px) {
            min-height: 280px;
            height: 100%;
        }

        // border: 1px solid black;

        h1 {
            font-size: 60px;
            font-weight: 700;
            line-height: 64px;
            color: rgba(0, 0, 0, 1);

            @include media(1200px) {
                font-size: 45px;
                line-height: 52px;
            }

            @include media(450px) {
                font-size: 25px;
                line-height: 100%;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.6);
            margin-top: 20px;

            @include media(1200px) {
                font-size: 14px;
                margin-top: 17px;
            }

            @include media(450px) {
                font-size: 12px;
                line-height: 100%;
                margin-top: 25px;
            }
        }

        button {
            width: 200px;
            height: 52px;
            border: none;
            border-radius: 62px;
            background-color: rgba(82, 0, 217, 1);
            font-size: 16px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            line-height: 100%;
            margin-top: 20px;

            @include media(450px) {
                margin-top: 25px;
                max-width: 400px;
                width: 100%;
                height: 37px;
                font-size: 14px;
            }
        }

        .last-child-left-child {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;

            div {
                padding: 5px;
                padding-right: 20px;

                h4 {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 100%;
                    color: rgba(0, 0, 0, 1);
                    vertical-align: middle;
                    // font-style:;

                    @include media(1200px) {
                        font-size: 32px;
                        // margin-top: 17px;
                    }

                    @include media(450px) {

                        font-size: 24px;
                    }

                    span {
                        color: rgba(82, 0, 217, 1);
                    }
                }

                h5 {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 22px;

                    @include media(1200px) {
                        font-size: 14px;
                        // margin-top: 17px;
                    }

                    @include media(450px) {
                        font-size: 10px;
                    }
                }
            }

            .b {
                // color: rgba(0, 0, 0, 0.6);
                border-right: 2px solid rgba(179, 177, 177, 0.6);
            }
        }
    }

    .right-child {
        max-width: 610px;
        width: 100%;
        min-height: 460px;
        height: 100%;
        // border: 1px solid black;
        display: flex;
        align-items: center;

        @include media(450px) {
            // margin-top: 80px;
            min-height: 280px;
            height: 100%;
        }

        img{
            border-radius: 15px;
        }
    }
}