@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@mixin media($max_width) {
    @media only screen and (max-width: $max_width) {
        @content;
    }
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid;

    hr {
        width: 100%;
        border: 1px solid rgba(82, 0, 217, 1);
        opacity: 30%;
        // margin-top: 50px;
    }

    .hero5 {
        max-width: 1250px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        flex-wrap: wrap;
        padding: 0 10px;
        gap: 10px;
        padding: 60px;


        .child1-hero5 {
            display: flex;
            flex-direction: column;
            // align-items: center;
            gap: 12px;

            h1 {
                font-size: 14px;
                font-weight: 600;
                line-height: 160%;
                color: rgba(17, 0, 45, 1);
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
                color: rgba(17, 0, 45, 1);
            }
        }

        .image-hero5 {
            // border: 1px solid;
            margin-top: -80px;

            @include media (917px) {
                margin-top: 10px;
            }
        }
    }
}