@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@mixin media($max_width) {
    @media only screen and (max-width: $max_width) {
        @content;
    }
}



.header {
    max-width: 1250px;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid rgba(82, 0, 217, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;

    .left-side-header {
        cursor: pointer;
        display: flex;
        // border: 1px solid;
        max-width: 200px;
        // border: 1px solid white;
        gap: 7px;
        flex-direction: column;
        align-items: center;
        // border: 1px solid;

        @include media (450px) {
            max-width: 100px;
        }

        .first-child-left-side-header {
            font-size: 20px;
            color: rgba(82, 0, 217, 1);

            @include media (450px) {
                font-size: 15px;
            }
        }

        .second-child-left-side-header {
            font-size: 22px;
            line-height: 50%;

            @include media (450px) {
                font-size: 17px;
            }
        }

        .third-child-left-side-header {
            font-size: 10px;
            margin-top: 2px;
            color: rgba(82, 0, 217, 1);

            @include media (450px) {
                font-size: 5px;
            }
            // line-height: 70%;
        }
    }

    .middle-side-header {
        max-width: 600px;
        width: 100%;
        // border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media (650px) {
            // margin-top: 10px;
            display: none;
        }

        p {
            cursor: pointer;
            font-size: 13px;
            font-weight: 600;
            font-family: "Noto Sans", sans-serif;
        }

        .selected {
            color: rgba(82, 0, 217, 1);
        }
    }

    .right-side-header {
        max-width: 100px;
        width: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
        // border: 1px solid;

        @include media (650px) {
            max-width: 200px;
        }

        .dropdown-wrapper {
            width: 100px;
            // border: 1px solid;
            padding: 0;

            .dropdown {
                padding: 10px;
                display: none;

                @include media (650px) {
                    display: block;
                    margin: 0 auto;
                }

                .life{
                    padding: 10px;
                }

                // MenuButton{}
            }
        }


        .kirish-button {
            width: 150px;
            padding: 10px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(82, 0, 217, 1);
            color: white;
            font-family: "Noto Sans", sans-serif;
            border-radius: 10px;
        }

        .kirish-button:hover {
            opacity: 70%;
        }
    }
}