@mixin media($max_width) {
    @media only screen and (max-width: $max_width) {
        @content;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;


}

.secondChild {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid;
    margin: 0 auto;
    margin-top: 60px;
    padding-top: 40px;
    border-top: 2px solid rgba(82, 0, 217, 1);


    h4 {
        margin: 0 auto;
        font-size: 25px;
        font-weight: 700;
        line-height: 91%;
        color: rgba(17, 0, 45, 1);
        text-align: center;

        @include media (470px) {
            font-size: 18px;
        }

        // margin-top: 30px;
    }

    .hero1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 940px;
        width: 100%;
        // margin-top: 950px;
        // overflow: hidden;
        margin: 0 auto;

        @include media(940px) {
            padding: 0 15px 0 15px;

        }

        @include media(700px) {
            padding: 0 7px 0 10px;
            margin-top: 40px;
        }

        // border: 1px solid;

        .child1-hero1 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 870px;

            @include media(645px) {
                flex-direction: column-reverse;
                padding: 0 7px 0 10px;
            }

            @include media(645px) {
                flex-direction: column-reverse;
                padding: 0 5px 0 5px;
            }

            .left-child1-hero1 {
                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 91%;
                    color: rgba(17, 0, 45, 1);

                    @include media (470px) {
                        font-size: 24px;
                    }
                }

                p {
                    font-size: 15px;
                    line-height: 170%;
                    font-weight: 300;
                    color: rgba(17, 0, 45, 1);
                    margin-top: 30px;

                    @include media (470px) {
                        font-size: 15px;
                        line-height: 100%;
                    }
                }
            }

            .right-child1-hero1 {
                width: 100%;

                img {
                    max-width: 100%;
                }

                .medicine {
                    width: 100%;
                }

                .medicine12 {
                    max-width: 470px;

                    @include media(470px) {
                        width: 100%;
                    }
                }
            }

        }

        .addition {
            display: flex;
            flex-direction: row-reverse;
            // width: 100%;
            // border: 1px solid;
            max-width: 940px;
            gap: 15px;

            @include media(645px) {
                flex-direction: column-reverse;
            }

            .left-child1-hero1 {
                p {
                    max-width: 510px;
                }
            }

            .right-child1-hero1 {
                img {
                    max-width: 400px;
                    width: 100%;
                }

                .medicine {
                    width: 100%;
                }

                .medicine12 {
                    width: 100%;
                }
            }
        }
    }
}