* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.doctor-page {
    max-width: 1250px;
    width: 100%;
    // border: 1px solid;
    min-height: 500px;
    // min-height: 400px;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper-of-buttons {
        width: 100%;
        display: flex;
        padding-bottom: 20px;
        align-items: center;
        gap: 10px;

        p {
            font-size: 14px;
        }



        input {
            max-width: 400px;
            width: 100%;
            height: 40px;
            border-radius: 10px;
            border: 1px solid;
            padding: 10px;
            // margin-top: 10px;
        }
    }

    .first-child {
        font-size: 20px;
        font-weight: 600;
        // margin-top: 30px;
        color: rgba(82, 0, 217, 1);
    }

    .second-child {
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
        color: rgba(82, 0, 217, 1);
        max-width: 600px;
        text-align: center;
    }

    .card-wrapper {
        width: 100%;
        min-height: 400px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
        justify-content: center;

        // border: 1px solid;
        .card {
            width: 300px;
            height: 294px;
            padding: 16px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // box-shadow: ;

            .image-wrapper {
                display: flex;
                cursor: pointer;

                img {
                    width: 80px;
                    height: 80px;
                    cursor: pointer;
                    border-radius: 50%;

                }
            }



            h2 {
                font-size: 15px;
                text-align: center;
                font-weight: 600;
                // color: rgba(82, 0, 217, 1);
                margin-top: 10px;
            }

            h4 {
                font-size: 14px;
                text-align: center;
                font-weight: 400;
                // color: rgba(82, 0, 217, 1);
                margin: 0 10px;
                margin-top: 5px;
            }

            .third-child {
                display: flex;
                width: 50%;
                justify-content: space-between;
                margin: 0 auto;
                // border: 1px solid;
                margin-top: 5px;

                button {
                    width: 30px;
                    height: 30px;
                    border: 1px solid;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 15px;
                    margin-top: 10px;
                    cursor: pointer;
                }

            }

            .button-wrapper {
                width: 270px;
                height: 81px;
                border-top: 1px solid rgb(160, 159, 159);
                margin: 0 auto;
                // margin-top: 80px;
                padding-top: 15px;

                button {
                    width: 100%;
                    height: 50px;
                    border-radius: 15px;
                    background-color: #0d4d8b;
                    color: white;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .button2 {
                width: 80%;
                font-size: 15px;
                font-weight: 600;
                margin-top: 15px;
                border: 1px solid;
                margin-left: 22px;
                border-radius: 10px;
                padding: 5px;
                cursor: pointer;

            }

            .button2:hover {
                background-color: grey;
                color: white;
                cursor: pointer;
            }

        }
    }

    .rodal {
        // width: 340px;
        border-radius: 20px;
        padding: 0 !important;

        // div {

        .rodal-body-scroll {
            max-height: 85vh;
            /* fits screen */
            overflow-y: auto;
            /* enables scroll */
            padding: 20px;


            p {
                font-size: 20px;
                font-weight: 500;
                color: rgba(0, 0, 0, 1);
                line-height: 100%;
                text-align: center;
                margin-top: 35px;
            }

            .rodal-inside {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 10px;

                input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid rgba(148, 148, 148, 1);
                    border-radius: 10px;
                    padding: 10px;
                }

                textarea {
                    height: 127px;
                    width: 100%;
                    padding: 10px;
                    border: 1px solid rgba(148, 148, 148, 1);
                    border-radius: 10px;
                }
            }

            .submit-button {
                width: 100%;
                height: 50px;
                background-color: rgba(36, 93, 48, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin-top: 50px;
                color: white;
            }

            .comment-button {
                width: 100%;
                height: 50px;
                background-color: rgb(65, 65, 247);
                display: flex;
                font-size: 14px;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin-top: 20px;
                color: white;
                padding: 20px;
            }


        }
    }
}