.news-wrapper {
    max-width: 1240px;
    min-height: 300px;
    padding: 0 20px;

    // border: 1px solid black;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;

    h1 {
        font-size: 32px;
        font-weight: 700;
        color: #000000;
    }

    .wrapper {
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        // justify-content: space-between;
        min-height: 300px;
        margin-top: 30px;
        // border: 1px solid;

        .new {
            width: 260px;
            height: 250px;
            // border: 1px solid black;

            img {
                height: 160px;
                width: 100%;
                cursor: pointer;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                margin-top: 10px;
                color: #9f9f9f;
            }

            h2 {
                font-size: 16px;
                font-weight: 700;
                color: #000000;
                margin-top: 6px;
            }
        }

    }

    .wrapper-2 {
        max-width: 300px;
        width: 100%;
        margin-top: 30px;

        .latest-new {
            width: 100%;
            height: 115px;
            border-bottom: 1px solid rgb(182, 179, 179);
            padding: 0 0 15px 0;
            // margin-top: 15px;
            margin-bottom: 20px;
            // border: 1px solid;
            cursor: pointer;

            h4 {
                font-size: 16px;
                color: #000000;
                font-weight: 600;
            }

            h6 {
                font-size: 12px;
                color: #9f9f9f;
                font-weight: 600;
            }

            h5 {
                font-size: 14px;
                color: #9f9f9f;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }
}